//COLORS

$primary: hsl(233, 47%, 7%);
$secondary: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

//FONT COLORS

$white: hsl(0, 0%, 100%);
$white-2: hsla(0, 0%, 100%, 0.75);
$white-3: hsla(0, 0%, 100%, 0.6);

//RESPONSIVE BREAKPOINTS

$bp-desktop: 90em; //1440px
$bp-tablet: 56.25em; //900px
$bp-mobile: 40.625em; //650px

//RESETS & RESPONSIVE FONT SIZES

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-tablet) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-mobile) {
        font-size: 50%;
    }
}

body {
    background-color: $primary;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: $white-2;

    margin-top: 5rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2 {
    color: $white;
}

.attribution {
    text-align: center;
    font-size: 1.2rem;
    margin: 5rem 0;

    @media only screen and (max-width: $bp-mobile) {
        order: 2;
        font-size: 1.4rem;
    }

    &__link {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}
